<div class="modal fade @@modalClass" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="h5 d-inline-block">
                        崔媽媽基金會
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center mb-2">
                    <div class="col-12 h5">
                        <p>使用媒合單【3大好處】</p>
                        <ol class="pl-5">
                            <li>填問卷享5%折扣。</li>
                            <li>崔媽媽全程陪伴(詢價、糾紛協助)。</li>
                            <li>線上填寫估價單，搬運完成填寫【搬家滿意度表】享5%退費 ，最高上限1000元。</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    @@loop('../unit/_modal-help-item.html', [
                        {btnStyle:'dark', btnIcon:'fas fa-shipping-fast', btnLabel:'快速估價'},
                        {btnStyle:'dark', btnIcon:'fas fa-truck-loading', btnLabel:'回頭車估價'},
                    ])
                </div>
            </div>
        </div>
    </div>
</div>