@charset "utf-8";

$path-ui:       "../img/ui/";
$path-uploads:  "../img/uploads/";

$color-facebook:  #3b5998;
$color-google:    #db3236;
$color-line:      #00b900;
$color-youtube:   #c4302b ;

$color-primary-dark:   #06205c;
$color-ci-dark:   #f18c1b;
$color-ci-light:  #fadc91;
$font-sm :0.93rem; //15px