<div class="modal fade @@modalClass" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="h5 d-inline-block">
                        崔媽媽基金會
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center mb-2">
                    <div class="col-12 col-lg-3 mb-2 mb-lg-0 text-center">
                        <img class="img-fluid" src="assets/img/ui/modal-help-img.png" alt="">
                    </div>
                    <div class="col-12 col-lg h5">
                        <p>行政院消保團體【財團法人崔媽媽基金會】，處理搬家糾紛。</p>
                        <p>主動告知搬家公司【透過崔媽媽】得知搬家公司，享有填搬家問卷，搬運費5%折扣退費。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 my-2">
                        <a class="btn btn-block btn-lg btn-outline-primary rounded py-3" href="#">
                            <div class="mb-1">
                                <i class="fa-fw fa-2x fas fa-shipping-fast"></i>
                            </div>
                            <div class="btn btn-block text-white bg-primary border-0 rounded-pill">
                                快速詢價
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-3 my-2">
                        <a class="btn btn-block btn-lg btn-outline-primary rounded py-3" href="#">
                            <div class="mb-1">
                                <i class="fa-fw fa-2x fas fa-calculator"></i>
                            </div>
                            <div class="btn btn-block text-white bg-primary border-0 rounded-pill">
                                精準詢價
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-3 my-2">
                        <a class="btn btn-block btn-lg btn-outline-primary rounded py-3" href="#">
                            <div class="mb-1">
                                <i class="fa-fw fa-2x fas fa-truck-loading"></i>
                            </div>
                            <div class="btn btn-block text-white bg-primary border-0 rounded-pill">
                                回頭車詢價
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-3 my-2">
                        <a class="btn btn-block btn-lg btn-outline-primary rounded py-3" href="#">
                            <div class="mb-1">
                                <i class="fa-fw fa-2x fas fa-mobile-alt"></i>
                            </div>
                            <div class="btn btn-block text-white bg-primary border-0 rounded-pill">
                                下載APP填單
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>