<header id="header" class="">
    <div class="bar mb-1"></div>
    <div class="container pb-2">
        <div class="row justify-content-between align-items-center no-gutters">
            <div class="col-2">
                @@if(context.iconStyle=="back"){
                    <a class="h3" href="@@url">
                        <img class="img-fluid" src="assets/img/ui/icon-back.svg" alt="">
                    </a>
                }
                @@if(context.iconStyle=="menu"){
                    <a class="h3 menu-btn" href="javascript:void();">
                        <img class="img-fluid" src="assets/img/ui/icon-menu.svg" alt="">
                    </a>
                }
            </div>
            <div class="col-8 text-center">
                @@if(context.title!="" && context.title){
                    <div class="h5 font-weight-bold m-0 pt-2">
                        @@title
                    </div>
                }
                @@if(context.title=="" || !context.title){
                    <a class="d-block" href="index.html">
                        <img class="img-fluid logo" src="assets/img/ui/logo.svg" alt="崔媽媽評鑑優良搬家公司">
                    </a>
                }
            </div>
            <div class="col-2 text-right">
                @@if(context.badgeNum){
                    <div class="pos-r-t mt-n2 mr-n1">
                        <span class="badge badge-danger rounded">@@badgeNum</span>
                    </div>
                    <a class="h3" href="message-list.html">
                        <img class="img-fluid" src="assets/img/ui/icon-message.svg" alt="">
                    </a>
                }
            </div>
        </div>
    </div>
</header>