<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendor/bootstrap-touchspin.min.js"></script>
<script src="assets/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="assets/js/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script>
<script src="assets/js/vendor/jquery.mobile.custom.min.js.js"></script>
<script src="assets/js/vendor/jquery.pushy.min.js"></script>
<script src="assets/js/vendor/jquery.hc-sticky.js"></script>
<script src="assets/js/vendor/jquery.mask.min.js"></script>
<script src="assets/js/vendor/fresco.min.js"></script>
<script src="assets/js/custom.js"></script>