#footer {
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.5rem;
    .logo {
        height: 50px;
    }
}
#links {
//    border-top: 1px solid $gray-200;
    background: $gray-200;
    a {
        color: $dark;
        @include hover-focus {
            text-decoration: underline;
        }
    }
    li {
        font-size: $font-size-sm;
    }
}

#copyright {
    background: #fadc91;
    font-size: $font-size-sm;
    color: $gray-700;
    a {
        color: $gray-700;
        text-decoration: underline;
//        @include hover-focus {
//            text-decoration: underline;
//        }
    }
}