.v-middle {
    display: table-cell;
    height: 100%;
    vertical-align: middle !important;
}
.pos-r-t {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.pos-a-c {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 5;
    transform: translateY(-50%);
}
.pos-a-r {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    transform: translateY(-50%);
}