[class^="icon-"],
[class*="icon-"] {
	position:relative;
    top:-2px;
    display: inline-block;
    vertical-align: middle;
    @include text-hide;
    background-repeat: no-repeat;
    background-size: 100%;
}

i {
    &.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
        font-weight: normal;
    }
}

[class^="icon-member-lv"],
[class*="icon-member-lv"] {
    width: 34px;
    height: 33px;
}
.icon-member-lv1 {
    @include retina-2x-background-image("#{$path-ui}icon-member-lv1", "png", 34px, 33px);
}
.icon-member-lv2 {
    @include retina-2x-background-image("#{$path-ui}icon-member-lv2", "png", 34px, 33px);
}
.icon-member-lv3 {
    @include retina-2x-background-image("#{$path-ui}icon-member-lv3", "png", 34px, 33px);
}

.icon-bag {
    width: 33px;
    height: 29px;
    @include retina-2x-background-image("#{$path-ui}icon-bag", "png", 33px, 29px);
}