<div class="col-12 col-lg-6 my-2">
    <a class="btn btn-block btn-light alert alert-warning rounded p-2 h-100 d-flex flex-column" href="@@href">
        <div class="mb-auto w-100">
        <div class="bg-warning rounded py-3">
            <div class="text-center h4 font-weight-bold">@@title</div>
        </div>
        <div class="row align-items-center my-3">
            <div class="col-lg-auto col-12 mb-2 mb-lg-0">
                <i class="fa-fw fa-4x @@icon"></i>
            </div>
            <div class="col text-lg-left">
                @@desc
            </div>
        </div>
        </div>
        <div class="mt-auto w-100">
            <div class="btn text-white bg-dark border-0 rounded-pill px-10">
                @@btnLabel
            </div>
        </div>
    </a>
</div>