<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendor/bootstrap-touchspin.min.js"></script>
<script src="assets/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="assets/js/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script>
<script src="assets/js/vendor/jquery.mobile.custom.min.js.js"></script>
<script src="assets/js/vendor/jquery.pushy.min.js"></script>
<script src="assets/js/vendor/jquery.hc-sticky.js"></script>
<script src="assets/js/vendor/jquery.mask.min.js"></script>
<script src="assets/js/vendor/fresco.min.js"></script>
<script src="assets/js/custom.js"></script>
<!--[if IE 9]>
<script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie9.min.js"></script>
<![endif]-->
<!--[if lte IE 8]>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.js"></script>
<![endif]-->