body {
    overflow-x: hidden;
}
a {
    @include transition(all 0.2s ease);
    img {
//        -webkit-backface-visibility: hidden;
//        @include transition(all 0.2s ease);
//        &:hover {
//            @include opacity(.8);
//        }
    }
    &:hover {
        text-decoration: none;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}